@{
    ViewBag.Title = "UsuarioDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vista Usuario Dashboard</h2>

USUARIO: <strong>@Session["Usuario"]</strong><br />
ROL ASIGNADO: <strong>@Session["RolAsigando"]</strong>
